body {
	overflow: hidden;
	margin: 0px;
	color: white;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1.5px;
}


#background {
	min-height: 100%;
	min-width: 100%;
	margin: 0 auto;
}


#name{
	position: absolute;
	font-size: 20px;
	font-weight: 200;
	left: 25px;
	top: 30px;
	color: #ffafaf;

}



#title {
	font-size: 46px;
	letter-spacing: 10px;
	font-weight: 800;
	line-height: 2;
	text-align: center;
	text-shadow: 10px;
	position: fixed;
	left: 105px;
	top: 55px;
}

#intro{
	font-size: 20px;
	font-weight: 300;
	left: 1005px;
	top: 370px;
	color: white;
	position: absolute;
	width: 300px;

}
#story{
	font-size: 20px;
	font-weight: 300;
	left: 25px;
	top: 140px;
	color: #ffafaf;
	position: absolute;
	width: 300px;
	

}
#description1 {
	margin-top: 20px;
	line-height: 1.5;
	text-align: left;
	position: absolute;
	left: 25px;
	top: 165px;
	width: 400px;
	font-weight: 500;
	font-size: 15px;
}

#description2{
	margin-top: 20px;
	line-height: 1.5;
	text-align: left;
	font-weight: 500;
	position: absolute;
	left: 25px;
	top: 245px;
	width: 400px;
	font-size: 15px;
}

#description3{
	margin-top: 20px;
	line-height: 1.5;
	text-align: left;
	font-weight: 500;
	position: absolute;
	left: 25px;
	top: 410px;
	width: 400px;
	font-size: 15px;
}

#donate{

    background: #d13838;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px;
    font-weight: 300;
    margin-top: 10px;
    position: absolute;
    top: 590px;
    left: 20px;
}