body {
	overflow: hidden;
	margin: 0px;
	color: white;
	font-family: 'Lato', sans-serif;
	letter-spacing: 2px;
	text-decoration: underline;
}


#background {
	min-height: 100%;
	min-width: 100%;
	margin: 0 auto;
}


#name{
	position: absolute;
	font-size: 20px;
	font-weight: 200;
	left: 25px;
	top: 30px;
	color: #38013f;

}



#title {
	font-size: 46px;
	letter-spacing: 10px;
	font-weight: 800;
	line-height: 2;
	text-align: center;
	text-shadow: 10px;
	position: fixed;
	left: 105px;
	top: 55px;
}

#intro{
	font-size: 20px;
	font-weight: 200;
	left: 1005px;
	top: 370px;
	color: white;
	position: absolute;
	width: 300px;

}
#story{
	font-size: 20px;
	font-weight: 200;
	left: 25px;
	top: 140px;
	color: #38013f;
	position: absolute;
	width: 300px;

}
#description1 {
	margin-top: 20px;
	line-height: 1.5;
	text-align: left;
	position: absolute;
	left: 25px;
	top: 160px;
	width: 400px;
	font-weight: 300;
}

#description2{
	margin-top: 20px;
	line-height: 1.5;
	text-align: left;
	font-weight: 300;
	position: absolute;
	left: 25px;
	top: 260px;
	width: 400px;
}

#description3{
	margin-top: 20px;
	line-height: 1.5;
	text-align: left;
	font-weight: 300;
	position: absolute;
	left: 25px;
	top: 470px;
	width: 400px;
}

#play {
	position: relative;
	width: 50px;
	margin-top: 30px;
	display: block;
	margin: 0 auto;
}

#play:hover {
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	-ms-filter: invert(100%);
	transition: 1s;
}

#album-art {
	width: 150px;
	margin-top: 20px;
	-webkit-box-shadow: 5px 5px 17px -4px rgba(0,0,0,0.6);
	-moz-box-shadow: 5px 5px 17px -4px rgba(0,0,0,0.6);
	box-shadow: 5px 5px 17px -4px rgba(0,0,0,0.6);
	display: block;
	margin: 0 auto;
}

#song-title {
	font-weight: 600;
	font-size: 24px;
	margin-top: 10px;
	text-align: center;
}