#welcome{
	font-size: 50px;
	font-weight: 700;
	margin-left: 100px;
	margin-top: 100px;
	color: red;
	font-style: italic;

}

#fixed{
	font-size: 50px;
	font-weight: 700;
	margin-left: 150px;
	margin-top: 250px;
	color: black;
}